mixin footer(data)
  - var modiffer = attributes.class || ''
  .footer(class="#{modiffer}")
    .footer__wrapper.
        <p>© 2016 Все права защищены. Все материалы на сайте предоставлены только для ознакомления. Администрация ресурса не несет ответственности за информацию, предоставленную из сторонних источников.</p>
        <a href="http://43.eroticruvideo.com/znakomstvaold/?page=join&action=activate">Получить Контент</a> &nbsp; 
        <a href="#" target="_blank">Управление подпиской на контент</a> &nbsp; 
        <a href="#" target="_blank">Правила предоставления Подписки на контент</a> &nbsp; 
        <a href="/?page=mail" target="_blank">Обратная связь</a> &nbsp; 
        <a href="/?page=mail" target="_blank">Пожаловаться на спам (AntiSpam)</a>
        <br />
        <br />
        Служба поддержки абонентов МТС Билайн : 8-800-200-8642(звонок бесплатный). E-mail: support@sdpays.com<br/>
        Служба поддержки абонентов Мегафон: 8 800 333-89-81 (звонок бесплатный). E-mail: helpdesk@informpartner.com<br/>
        Для абонентов МТС Билайн Мегафон Tele2 предоставляется услуга подписка.<br/>
        Стоимость услуги составляет 20.32 рублей с НДС за 1 календарный день. С размером стоимости услуги и порядком ее списания можно ознакомиться на cайте ПАО «МТС» www.mts.ru в разделе «Услуги по коротким номерам», введя короткий номер или идентификатор услуги в строке поиска, а также позвонив по единому номеру 88002500890. Для отказа от предоставления Подписки на Контент отправьте смс-сообщение с командой СТОП на номер 770650 (смс бесплатно в домашнем регионе) или наберите ussd-команду *152*22#вызов (бесплатно)<br/>
        Стоимость доступа по подписке составляет 30 рублей (включая НДС) за 1 день для абонентов ПАО «МегаФон»; Продление доступа по подписке происходит автоматически. Для отказа от предоставления Подписки на услугу отправьте SMS-сообщение со словом СТОП 2884 на номер 5151 для абонентов ПАО «МегаФон». Cообщение бесплатно в домашнем регионе. Для абонентов Мегафон служба технической поддержки ООО «Информпартнер»: 8 800 333-89-81 (звонок бесплатный), e-mail: helpdesk@informpartner.com<br/>
        Стоимость услуги для абонентов Билайн составляет 30 руб. с НДС в сутки; первое списание происходит 0 часов с момента активации подписки, каждое последующее - раз в 1 день.<br/>
        Для остановки подписки абонентам Билайн необходимо отправить смс-сообщение с текстом STOP на номер 8930 (бесплатно).<br/>
        Стоимость доступа составляет 30 рублей (включая НДС) за 1 день для абонентов Tele2; Продление доступа происходит автоматически, посредством подписки. Для отказа от предоставления Подписки на услугу отправьте SMS-сообщение со словом СТОП на номер 2317TELE2_STOP_PREFIX для абонентов Tele2. Cообщение бесплатно в домашнем регионе. Либо воспользуйтесь формой управления подпиской. Телефон службы поддержки: 8-800-333-57-14 (бесплатно в домашнем регионе). Обеспечение функционирования услуги на сайте hot2zonecc.org осуществляет Контент-провайдер ООО"Т Медиа".<br/>
        Услуга предоставляется только для совершеннолетних абонентов Киевстар, ТОВ «лайфселл» (lifecell)) и ПрАО «МТС Украина» (МТС и Vodafone). Стоимость Подписки и периодичность списания средств на номере 2262 (для абонентов ПрАО «МТС Украина»), 2262 (для абонентов ТОВ «лайфселл» (lifecell)), 2257 (для абонентов Киевстар) составляет 5 грн. ежедневно, до самостоятельного отказа от подписки. Абонент в праве в любое время отказаться от Подписки, отправив СМС-сообщение с текстом «СТОП» на номер 5103 для абонентов ПрАО «МТС Украина» (бесплатно), «СТОП14» на номер 2262 для абонентов ТОВ «лайфселл» (lifecell) (бесплатно), «СТОП14» на номер 2257 для абонентов Киевстар (бесплатно). Тариф в гривнах с учетом НДС. Дополнительно удерживается сбор в Пенсионный фонд в размере 7,5% от стоимости услуги без учета НДС. Технический партнер: ООО "UMG", номер службы поддержки: +380487377366 (стоимость звонка согласно тарифам Вашего оператора), время работы службы поддержки: пн-сб 9.00-21.00.
        <br>