.advantages {
  display: flex;

  padding: 45px 0;

  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 800px) {
    display: block;
    padding: 25px 0;
  }
  &__item {
    position: relative;

    box-sizing: border-box;
    width: 300px;
    padding-right: 20px;
    padding-left: 34px;

    color: #666;

    font-family: $A45R;
    font-size: rem-calc(15);
    line-height: rem-calc(18);
    @media screen and (max-width: 800px) {
      width: 100%;
      margin-bottom: 15px;
    }
    &:before {
      position: absolute;
      left: 0;

      content: "";

      @include bg($check);
    }
  }
}
