mixin advantages(data)
  - var modiffer = attributes.class || ''
  .advantages(class="#{modiffer}")
    .advantages__item Ищите секса без обязательств? Вы попали по адресу!
    .advantages__item Тысячи анкет мужчин и женщин ждут вас. 
    .advantages__item Первое знакомство уже через 5 минут после регистрации!
