mixin header(data)
  .header
    .header__wrapper
      .header__group
        a(href="#" title="").header__logo

        .header-online
          .header-online__title Сейчас онлайн:
          .header-online__item._male 19 341
          .header-online__item._female 23 097

      .header-registered Всего зарегистрировано: 
        strong 9 071 333 
