mixin reg(data)
  .wrapper
    .content.main-content._p4-1
      +advantages()
      .white-dashed.question.reg
        .white-dashed__wrapper
          .question__title.reg__title Регистрация: подписка на контент
          .reg__subtitle Чтобы подключить доступ к Подписке на Контент, заполните следующую форму:

          .reg-form
            .reg-form__row
              .reg-form__label ВАш номер <br>телефона
              .reg-form__field
                input(type="text" value="")
                span Пример: +7 (916) 987 11 11 или +380 (50) 111 11 11

            a(href="#" title="").reg-form__cost Стоимость услуги

            .reg-form__check
              input(type="checkbox" value="")
              span Мне исполнилось 18 лет и Я согласен с Правилами <br>предоставления Подписки на Контент. 

            input(type="submit" value="Сохранить").button._angle.reg-form__submit

            a(href="#" title="").reg-form__no Я не из России или Украины

      .reg-rules
        p Правила предоставления Подписки на услугу

        p Правила предоставления услуги «Подписка на cvidanie.com» для Абонентов ПАО «МегаФон» 

        p Данные положения являются обязательными и озвучиваются в настоящих правилах на предоставление услуги «Подписка» Абонентам ПАО «МегаФон» (далее — Абонент). 

        p 1. Воспользоваться услугой «Подписка» на Интернет-ресурс «cvidanie.com» (далее — «Подписка») на указанных ниже условиях могут любые физические лица, достигшие 18 лет и являющиеся Абонентами оператора сотовой связи ПАО «МегаФон» (далее — «Оператор»). 

        p 2. Для заказа услуги «Подписка» Абонент должен располагать оборудованием, необходимым для оформления заказа и использования услуги, включая, но не ограничиваясь: мобильный телефон (или другое мобильное устройство доступа), который находится в рабочем состоянии и обеспечивает Абоненту доступ к услугам Оператора, посредством подключения данного конечного 